@page
@model EmployeeWebsite.Pages.EditEmpInfoModel
@{
}

<div class="card mb-4">
    <div class="card-body">
        <div class="row">
            <div class="mb-3">
                <form method="post">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>

                 <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>

                <label asp-for="TelNumber" class="form-label"></label>
                <input asp-for="TelNumber" class="form-control">
                <span asp-validation-for="TelNumber" class="text-danger"></span>

                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control">
                <span asp-validation-for="Address" class="text-danger"></span>

                <button class="btn btn-primary btn-lg" type="submit" asp-page-handler="AddToCart"  asp-route-bsn="@Model.Emp.BSN">
                    Update Info</button>
                </form>
            </div>
        </div>
    </div>
</div>
